<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">

        function updateStatus() {
            $.ajax
            ({
                type: "GET",
                url: "http://localhost:8080/api/1.0/twitter/timeline",
                success: function(data)
                {
                    var template = "<div><ul>{{#timelineResponses}}<li>{{.}}</li>{{/timelineResponses}}</ul></div>";
                    $("#output").html(template);
                }
            });
        }

    </script>
</head>
<body>
<form>
    <button id="timelineResponse" onclick="updateStatus(); return false">Refresh Timeline</button>
</form>

<div id="output"></div>

</body>
</html>